main {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .card {
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  .login-link {
    color: #007bff;
    text-decoration: none;
    border: #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    padding: 10px;
  }
  h1 {
    text-align: center;
    color: #333;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  input[type="text"],
  input[type="number"],
  input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  .error-message{
    color: red;
    font-size: 14px;
  }

  label {
    font-weight: bold;
    color: #555;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  button {
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #0056b3;
  }